// PostgreSQL
DB_NAME=ukjmtdua
DB_HOST=suleiman.db.elephantsql.com
DB_USERNAME=ukjmtdua
DB_PASSWORD=mbt4LTpX_0SondMc7g-J0Cf7uU_FvIqY 

// client
CLIENT_HOST=http://localhost:3000

// server
SERVER_HOST=http://127.0.0.1
SERVER_PORT=8000
SECRET_KEY=secrey-key-123


// common
NODE_ENV=development